<footer>

  <div class="social-media">

    <img src="/assets/brand-facebook.png"width="25px">
    <img src="/assets/brand-instagram.png"width="25px">
    <img src="/assets/brand-twitter.png" width="25px">

  </div>
<div class="footer-tekst">
  <P>Buurtcampus is een initiatief van Hogeschool van Amsterdam (HvA) en Openbare Bibliotheek Amsterdam (OBA).<br> Meer Buurtcampussen? Kijk op www.buurtcampusoost.nl of op www.buurtcampusnieuwwest.nl.</P> </div>
    <img class="Union" src="assets/Union (3).png">
  </footer> 

</body>
</html>