<footer>

  <div class="social-media">

    <img src="public/assets/brand-facebook.png">
    <img src="public/assets/brand-instagram.png">
    <img src="public/assets/brand-twitter.png">

  </div>
    <img class="Union" src="assets/Union (3).png">
  </footer> 

</body>
</html>