<%- include('./partials/head') %>

  <header>
    <a href="index.html"><img class="header-logo" src="assets/buurtcampus-oost-logo.svg" alt="" width="300x"> </a>


    <ul>
      <li><a href="/index">HOME</a></li>
      <li><a href="/reserveren">RESERVEREN</a></li>
      <li><a href="/agenda">AGENDA</a></li>
      <li><a href="/informatie">INFORMATIE</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </header>

  <hr>


  <main>
    <div class="titel">
      <img src="assets/PlantSwap-logo.png" width="25%"> 
    </div>

  <section class="intro"> 

    <img src="assets/stekje-intro.jpeg" width="28%"> 


   <div class="intro-tekst"> 
    <h2>Plantjes wisselen? Dat kan!</h2>
    <p> Zijn er stekjes die jij wilt wisselen? Dat kan bij ons! Meld je hieronder aan om een stekje te reserveren.</p>
    <button> Aanmelden</button>
   </div>

  </section>

  <section class="stekjes-container-intro">
    <h1>Onze stekjes</h1>
    <p> Hieronder zijn een aantal van onze stekjes te zien die er nu zijn.</p>
</section>

<div class="stekjes-container1">

    <div class="stek01">
        <img src="assets/stekje-1.jpeg" style="width:90%" alt="Stek 1">
        <h1>Stek 1</h1>
        

    </div>
    
    <div class="stek02">
        <img src="assets/stekje-1.jpeg" style="width:90%" alt="Stek 2">
        <h1>Stek 2</h1>
        
       
    </div>

    <div class="stek03">
        <img src="assets/stekje-1.jpeg" style="width:90%" alt="Stek 3">
        <h1>Stek 3</h1>
        
        
    </div>

    <div class="stek04">
        <img src="assets/stekje-1.jpeg" style="width:90%" alt="Stek 4">
        <h1>Stek 4</h1>
       
  
    </div>
</div>




  </section>
  </main>

  <%- include('./partials/foot') %>

  
